h1.page-title.with-emoji
  span.emoji 🎵
  = @artist.name

.actions-row
  = link_to 'Edit', edit_artist_path(@artist), class: 'btn btn-primary'
  = link_to 'Back', artists_path, class: 'btn btn-ghost'

.card
  .card-header
    h3.card-title.with-emoji
      span.emoji 🧾
      | Artist Details
    span.tag.with-emoji
      span.emoji= status_emoji(@artist.status)
      = titleize_status(@artist.status)
  .subcard
    .kv
      li
        span.k Genre
        span.v= @artist.genre.presence || '-'
      li
        span.k Theme color
        span.v= @artist.theme_color.presence || '-'
      li
        span.k X
        span.v= @artist.x_id.presence || '-'
      li
        span.k Instagram
        span.v= @artist.instagram_id.presence || '-'
      li
        span.k SoundCloud
        span.v= @artist.soundcloud_id.presence || '-'
      li
        span.k Links
        span.v= @artist.other_links.presence || '-'
