h1.page-title.with-emoji
  span.emoji 🎙️
  = @episode.title

.actions-row
  = link_to 'Edit', edit_episode_path(@episode), class: 'btn'
  = link_to 'Back', episodes_path, class: 'btn btn-ghost'

.card
  .card-header
    h3.card-title.with-emoji
      span.emoji 🧾
      | Episode Details
    span.tag.with-emoji
      span.emoji= status_emoji(@episode.status)
      = titleize_status(@episode.status)
  .subcard
    .kv
      li
        span.k Artist
        span.v= @episode.artist&.name || '-'
      li
        span.k Scheduled
        span.v= @episode.scheduled_date&.strftime('%Y-%m-%d %H:%M') || '-'
      li
        span.k SoundCloud
        span.v= @episode.soundcloud_url.presence || '-'
      li
        span.k Artwork
        span.v= @episode.artwork_url.presence || '-'
