doctype html
html
  head
    meta charset="utf-8"
    meta name="viewport" content="width=device-width, initial-scale=1"
    title Indoor Radio Platform
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
  - body_classes = [controller_name, action_name].join(' ')
  body class=body_classes
    nav.navbar
      .nav-inner
        .brand
          = link_to dashboard_path, class: 'brand-link' do
            = image_tag "INDOOR RADIO.png", alt: "INDOOR RADIO", class: 'brand-logo'
            span.brand-text INDOOR RADIO
        ul.nav
          li= link_to dashboard_path, class: 'nav-link with-emoji' do
            span.emoji 🏠
            | Dashboard
          li= link_to artists_path, class: 'nav-link with-emoji' do
            span.emoji 🎵
            | Artists
          li= link_to episodes_path, class: 'nav-link with-emoji' do
            span.emoji 🎙️
            | Episodes
    main.container
      = yield
